html{
    box-sizing: inherit;
}
section{
    box-sizing: inherit;
    width: 250px;
    height: 250px;
    border: 4px dotted #20C984;
    text-align: center;
}
p{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 4px solid #0835CA;
}
