a{
    text-decoration: none;
    background: #FF8C00;
    padding: 8px;
    border-radius: 4px;
    color: #FFFFFF;
}
p:nth-of-type(1) a{
    background: #008000;
}
p{
    margin: 40px 0px;
}