body{
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    width: 1000px;
    align-items: center;
}
article{
    width: 800px;
    margin: auto;
    display: inline-block;
}
img{
    width: 70%;
}
aside{
    display: inline-block;
    width: 160px;
    position: absolute;
    top: auto;
}